.content
  .row
    .span10.offset1

      p Mote-o-Bike is a bicycle-based sensing and data gathering project, intended to better map the urban environment as it is experienced by the bicyclist and pedestrian. The project is meant to create a public facing map of the city of Chicago, by attaching motes to an already ultra-mobile community where we can collect data about  air quality, rider habits, pin point high traffic biking areas, and a variety of other factors, in order to expand our understanding of cyclist’s impact on the city, and the cities impact on the pedestrain. The data gathered by the mote is then superimposed on a map API in order to modernize direction programs to take into account safety factors for cyclists and walkers. 
      p The mote format utilizes the Arduino format to make the project accessible to the DIY community, while we develop ways in which less tech savvy users can easily check out or purchase a mote for personal data collection. 