div.hero-unit
    h1 Mote_0_Bike
    p Creating a sensor map
    

div.content
    div.row
        div.span12
            h3 Upload a CSV file
            form(action="/add", enctype="multipart/form-data", method="POST")
              input(type="file", name="csv")
              br
              input.btn.btn-primary(type="submit", value="Post")