!!!
html
    head
        title Mote_0_Bike
        link(rel='stylesheet', href='/stylesheets/bootstrap.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.css')
        script(src='/javascripts/jquery.js')

    body
        div.navbar.navbar-fixed-top
            div.navbar-inner
                div.container
                  a(data-toggle='collapse',data-target='.nav-collapse').btn.btn-navbar 
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                    a(href='/').brand Mote_0_Bike
                    div.nav-collapse
                        ul.nav
                          if page == 'index'
                            li.active
                              a(href='/') Home
                          else 
                            li
                              a(href='/') Home
                          if page == 'map'
                            li.active
                              a(href='/map') Map
                          else
                            li
                              a(href='/map') Map
                          if page == 'users'
                            li.active
                              a(href='/users') Users
                          else
                            li
                              a(href='/users') Users
                        ul(style='float:right').nav.secondary-nav
                          li
                            a(href='#') Login

      div.container(style='margin-top: 60px')!= body
        //
          footer