!!!
html
    head
        title Mote_0_Bike
        link(rel='stylesheet', href='/stylesheets/bootstrap.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.css')
        script(src='/javascripts/jquery.js')

    body
        div.navbar.navbar-fixed-top
            div.navbar-inner
                div.container
                  a(data-toggle='collapse',data-target='.nav-collapse').btn.btn-navbar 
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                    a(href='/').brand Mote_0_Bike
                    div.nav-collapse
                        ul.nav
                          if page == 'index'
                            li.active
                              a(href='/') Home
                          else 
                            li
                              a(href='/') Home
                          if page == 'demo'
                            li.active
                              a(href='/demo') Demo
                          else
                            li
                              a(href='/demo') Demo
                          if page == 'users'
                            li.active
                              a(href='/users') Users
                          else
                            li
                              a(href='/users') Users
                          if page == 'upload'
                            li.active
                              a(href='/upload') Upload
                          else
                            li
                              a(href='/upload') Upload
                          if page == 'about'
                            li.active
                              a(href='/about') About
                          else
                            li
                              a(href='/about') About

      div.container(style='margin-top: 60px')!= body
        //
          footer
      script(type="text/javascript", src='/javascripts/analytics_lib.js')