div.content
    div.row
        div.span12
            h2 A List of all the Test Docs
            ul.unstyled.indent
                each example in examples
                    li
                        a(href="view/#{example._id}")  #{example.name}
            
            h2 A List of all the Trips
            ul.unstyled.indent
                each trip in trips
                    li
                        a(href="viewtrip/#{trip._id}")  #{trip._id}