div.content
    div.row
        div.span12
            form.well(action="/add", enctype="multipart/form-data", method="POST")
              h3 Upload a CSV file
              span.label E-mail
              input(type="text", name="user")
              br
              span.label CSV file
              input#gpxinput(type="file", name="csv", style="display:none;")
              input#gpxcover.input.input-large.uneditable-input(type="text", onclick="$('#gpxinput').click();")
              a.btn.btn-search(onclick="$('#gpxinput').click();", style="vertical-align:top;") Select
              script(type="text/javascript") $("#gpxinput").change(function(){ $("#gpxcover").val($(this).val().replace("C:\\fakepath\\","") ) });
              br
              br
              input.btn.btn-primary(type="submit", value="Post")